src/main/mule/sfmc-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:sfdc-marketing-cloud="http://www.mulesoft.org/schema/mule/sfdc-marketing-cloud"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc-marketing-cloud http://www.mulesoft.org/schema/mule/sfdc-marketing-cloud/current/mule-sfdc-marketing-cloud.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sfdc-marketing-cloud:config name="Salesforce_Marketing_Cloud_Config" doc:name="Salesforce Marketing Cloud Config" doc:id="aab416e6-335f-4c66-a846-4896fe8c011b" >
		<sfdc-marketing-cloud:oauth-client-credentials-connection serviceUrl="https://mcwhv7sn12jx7rtrxzgynqzh6pqm.soap.marketingcloudapis.com/Service.asmx" connectionTimeout="2" connectionTimeoutUnit="MINUTES">
			<sfdc-marketing-cloud:oauth-client-credentials clientId="banqkg8d145eayn4cpq8huzk" clientSecret="3igtOSGJCi75MpH5QFc62J51" tokenUrl="https://mcwhv7sn12jx7rtrxzgynqzh6pqm.auth.marketingcloudapis.com/v2/token" scopes="email_send" />
		</sfdc-marketing-cloud:oauth-client-credentials-connection>
	</sfdc-marketing-cloud:config>
	<flow name="sfmc-implFlow" doc:id="b078e5f6-89df-4207-9f71-aeea626f5c50" >
		<ee:transform doc:name="Transform Message" doc:id="528307f7-0e1b-48ec-8f08-36036446d923" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"triggeredSend" : {
		"triggeredSendDefinition" : {
			"customerKey" : "14092"
		},
		"subscribers" : {
			"emailAddress" : "t.chandra2209@gmail.com",
			"subscriberKey" : "t.chandra@gmail.com"
		}
		
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="bb87e4f8-2084-4bde-bffd-d44dc61da9d0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Subscribers: [{
		Attributes: {
			"Name" : "FirstName",
			"Value" : "Titu"
		},
		EmailAddress: payload.triggeredSend.subscribers.emailAddress,
		SubscriberKey: payload.triggeredSend.subscribers.subscriberKey
	}],
	TriggeredSendDefinition: {
		CustomerKey: payload.triggeredSend.triggeredSendDefinition.customerKey
	}
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sfdc-marketing-cloud:create objectType="TriggeredSend" doc:name="Create entities" doc:id="240d87c5-3a56-44dc-ab76-7fa458440dc2" config-ref="Salesforce_Marketing_Cloud_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="4bfb2554-7288-4552-b43d-e4f775f15a8d" />
	</flow>
</mule>
